@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Jersey+15&family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Raleway:wght@700&family=Rammetto+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --container-padding-top: 90px;
}
button, input, select, textarea {
    outline: none;
    box-shadow: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif ;
    font-weight: 500;
}

 body {
   margin: 0;
   background-color: #0C0C0C;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: auto;
   overflow-x: hidden;
   position: relative;
   transition: background-color 0.5s, color 0.5s;
}

.containers {
    padding-top: var(--container-padding-top);
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.bottom-nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 55px;
    gap: 30px; 
    position: fixed;
    bottom: 30px;
    border-bottom: 2px solid #181818;
    border-radius: 15px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    background: linear-gradient(90deg, #101010, #0C0C0C, #101010); 
}

.menu-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item svg {
    stroke: #4a4a4a;
    transition: stroke 0.3s ease;
}

.nav-item.active svg {
    stroke: #007bff; 
}

.container {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow: hidden;
    background: #0C0C0C;
    background-size: cover;
    background-position: center;
}  

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    background: none;
    border-radius: 0;
    white-space: nowrap;
    border-bottom: 1px solid #4a4a4a;
    color: #4a4a4a;
    font-size: 13px;
    cursor: pointer; 
    transition: 0.5s;
    font-weight: bold;
}

.tabs button.active {
    background: linear-gradient(90deg, #2D83EC, #9B59B6); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #2D83EC, #9B59B6) 1;
    -webkit-text-fill-color: transparent;
} 

.tabs button.active svg {
    stroke: #2D83EC;
}

.container-here {
    position: relative;
    display: flex;
    align-items: center;
}

#walletAddress, #decryptInput, #encryptInput {
    padding-right: 50px; 
    resize: none;
}

#checkButton, #copyDecrypt, #copyEncrypt, #decryptButton,
#encryptButton, #cryptButton {
    position: absolute;
    right: 2px;
    font-size: 13px;
    padding: 5px 10px;
    bottom: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden {
    display: none;
}

input, textarea {
    background: #0C0C0C;
    width: 100%;
    color: #fff;
    padding: 12px;
    border: 1px dashed #181818;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}

input::placeholder, textarea::placeholder {
    color: #4a4a4a; 
    opacity: 0.5;
}

#walletAddress {
    font-size: 13px;
    height: 50px;
    resize: none; 
} 

textarea {
    height: 80px;
    resize: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-weight: 600;
    padding: 10px;
    background: linear-gradient(90deg, #2D83EC, #9B59B6);
    color: white;
    border: none;
    border-radius: 10px 0 0 0;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button svg {
    width: 20px; 
    height: 20px;
}

.footer {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 13px;
    color: #4a4a4a;
}

.footer .highlight {
    background: linear-gradient(90deg, #2D83EC, #9B59B6); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent;
    font-weight: 600; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.footer .highlight:hover {
    color: #181818; 
    text-decoration: underline
} 

.pag-title {
    font-weight: 400;
    margin: 15px auto;
    text-align: left;
    font-size: 12px;
    color: #4a4a4a;
}  

.p-title {
    font-weight: 400;
    margin: 2px auto;
    text-align: left;
    font-size: 12px;
    color: #4a4a4a;
}  
 
.page-title {
    display: flex;
    align-items: center;
    gap: 3px;
    text-align: left;
    font-size: 22px;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
}

.page-title span {
    background: linear-gradient(90deg, #2D83EC, #9B59B6); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent;
    font-weight: bold;
} 

.page-title svg {
    margin-left: 110px;
} 
 
.titley {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #4a4a4a;
    font-weight: 500;
}

.tit- {
    display: flex;
    align-items: center;
    gap: 3px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #4a4a4a;
    font-weight: 500;
} 
  
#notification {
    position: fixed;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%) translateY(100%); 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 12px;
    white-space: normal; /* السماح بالنقل إلى سطر جديد */
    word-wrap: break-word; /* كسر الكلمات الطويلة إذا لزم الأمر */
    font-weight: 500;
    text-align: center;
    display: none;
    z-index: 100;
    transition: opacity 0.5s ease-in-out;
}

.notification-success,
.notification-error,
.notification-warning {
    border: 2px dashed #181818;
    background: rgba(0, 0, 0, 0.9);
}

.notification-success {
    color: #2D83EC; 
}

.notification-error {
    color: #ff4c4c;
}

.notification-warning {
    color: #ffcc00;
}

.tab-Profile {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    width: 100%;
} 

.title7 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 600;
} 

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: fit-content; 
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    gap: 15px;
} 

.social-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.social-btn img {
    width: 35px;
    height: 35px;
    padding: 2px;
    border: 1px dashed #181818;
    object-fit: cover;
    border-radius: 50%;
}

.social-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
} 

.support-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-left: auto;
    margin-right: 5px;
    white-space: nowrap;
    border: 1px dashed #181818;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    width: 130px;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.result {
    width: 100%;
    font-size: 13px;
    color: #fff;
    padding: 0;
    margin: auto;
}

.result-header, .result-2 {
    width: 100%; 
}

.result p, .result-2 p {
    width: 100%;
    display: flex;
    padding: 6px;
    border-radius: 5px;
    border: 1px dashed #181818;
    justify-content: space-between;
    font-weight: 600;
    margin: 5px 0;
}

.today-transactions {
    display: flex;
    align-items: center;
    gap: 3px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #4a4a4a;
    font-weight: 500;
} 

.today-transactions span {
    color: #fff;
    border-bottom: 1px solid #fff; 
    padding-bottom: 1px; 
} 

.token-list {
    list-style-type: none;
    padding: 0;
}

.token-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-bottom: 0.5px solid #181818;
}

.token-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.token-info {
    margin-left: 10px;
    margin-right: auto;
}

.token-balance {
    margin-left: auto;
    margin-right: 10px;
} 
 
.modal {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px); 
    padding: 20px;
    border-radius: 10px 10px 0 0; 
    border-top: 2px solid #4a4a4a;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 13px;
    left: 50%;
    transform: translateX(-50%) translateY(100%); /* بداية من أسفل الشاشة */
    width: 100%;
    height: 40vh;
    z-index: 200;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.modal h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
} 

.close-button {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.full-width-divider {
    width: 100%; 
    height: 0;
    border-top: 1.5px dashed #181818; 
    margin: 10px 0; 
}  

footer {
    font-size: 11px;
    color: #4a4a4a;
    text-align: left;
    margin: 20px 0;
    font-weight: 300;
    line-height: 1.6;
}

.privacy-policy h3, .p {
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
    margin-bottom: 8px;
}

.privacy-policy p {
    margin: 4px 0;
    font-weight: 500;
}

.key-content {
    position: relative;
    width: 100%;
}

.key-content svg {
    position: absolute;
    left: 8px; 
    top: 50%;
    transform: translateY(-50%); 
    width: 20px;
    height: 20px;
    color: #4a4a4a;
    z-index: 1; 
}

#encryptKey, #decryptKey, 
#walletAddress, #decryptionPassword, #encryptionPassword {
    padding-left: 35px;
} 

.tabs-bo {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.tabs-bo button {
    width: 40%;
    flex: 1;
    padding: 5px 10px;
    background: none;
    border-radius: 5px;
    white-space: nowrap;
    border: 1px dashed #181818;
    color: #4a4a4a;
    font-size: 12px;
    cursor: pointer; 
    transition: 0.5s;
    font-weight: bold;
} 

.tabs-bo button.active {
    background: linear-gradient(90deg, #2D83EC, #9B59B6); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #2D83EC, #9B59B6) 1;
    -webkit-text-fill-color: transparent;
} 

.tabs-bo button.active svg {
    stroke: #2D83EC;
} 

.tit-image {
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    color: #4a4a4a;
}   

.contentsu button, #dcryptButton, #connectButton, #ton-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-weight: 600;
    padding: 8px;
    background: linear-gradient(90deg, #2D83EC, #9B59B6);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
}

.wallet-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #181818;
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
}

.go {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
} 

.contentsu {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #101010, #0C0C0C, #101010); 
    border: 1px dashed #181818;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    gap: 10px;
}
 
#amountInput {
    padding-left: 15px;
} 

input[type="file"] {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    color: #fff;
    background: linear-gradient(90deg, #101010, #0C0C0C, #101010); 
    border: 1px dashed #181818;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    outline: none;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: 'Select photo';
    display: inline-block;
    background: linear-gradient(90deg, #2D83EC, #9B59B6);
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.ti-image {
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    color: #4a4a4a;
}    
