button, input, select, textarea {
    outline: none;
    box-shadow: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: 'Rubik',sans-serif ;
    font-weight: 700;
}

body {
    background: #0C0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background: #0C0C0C;
    padding: 20px;
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #fff;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #808080;
    color: #808080;
    font-size: 15px;
    cursor: pointer; 
    transition: 0.5s;
    font-weight: bold;
}

.tabs button.active {
    background: linear-gradient(90deg, #2D83EC, #9B59B6); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #2D83EC, #9B59B6) 1;
    -webkit-text-fill-color: transparent;
} 

.tabs button.active svg {
    stroke: #2D83EC;
}

.container-here {
    position: relative;
    display: flex;
    align-items: center;
}

#decryptInput, #encryptInput {
    padding-right: 50px; 
    resize: none;
}

#copyDecrypt, #copyEncrypt, #decryptButton, #encryptButton {
    position: absolute;
    right: 1px;
    font-size: 13px;
    padding: 5px 10px;
    bottom: 1px;
}
 
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden {
    display: none;
}

input, textarea {
    background: #0C0C0C;
    width: 100%;
    color: #fff;
    padding: 15px;
    border: 1px dashed #181818;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-weight: 600;
    padding: 10px;
    background: linear-gradient(90deg, #2D83EC, #9B59B6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button svg {
    width: 20px; 
    height: 20px;
}

.footer {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 13px;
    color: #808080;
}

.footer .highlight {
    background: linear-gradient(90deg, #2D83EC, #9B59B6); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent;
    font-weight: 600; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.footer .highlight:hover {
    color: #181818; 
    text-decoration: underline
} 

.pag-title {
    font-weight: 400;
    margin: 15px auto;
    text-align: left;
    font-size: 12px;
    color: #808080;
}  

.page-title {
    text-align: left;
    margin-top: 10px;
    font-size: 22px;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
}

.page-title span {
    background: linear-gradient(90deg, #2D83EC, #9B59B6); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent;
    font-weight: bold;
} 

.titley {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 13px;
    color: #808080;
    font-weight: 500;
}

.tit- {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #808080;
    font-weight: 500;
} 
  
#notification {
    position: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 13px;
    white-space: nowrap;
    font-weight: 500;
    text-align: center;
    display: none;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

.notification-success,
.notification-error,
.notification-warning {
    background: #0C0C0C; 
}

.notification-success {
    color: #2D83EC; 
}

.notification-error {
    color: #ff4c4c;
}

.notification-warning {
    color: #ffcc00;
}

.social-container {
    width: fit-content; 
    margin: 65px auto 15px auto; 
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px; 
} 

.social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.social-btn img {
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 2px dashed #181818;
    object-fit: cover;
    border-radius: 50%;
}

.social-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
} 
